.info-box-number2{
  font-weight:bold;
  font-size:18px;
}

.info-box-text2{
  display:block;
  font-size:18px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.info-box-number3{
  font-weight:bold;
  font-size:11px;
  overflow: visible;
  word-wrap: break-word;
  white-space: initial;
  display: block;
}

.alert {
  padding: 10px !important;
  margin-top: 20px;
  margin-bottom: 5px !important;
}

.navbar-nav>.user-menu>.dropdown-menu {
  width: 230px !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  color: #333 !important;
}

.password-control {
  position: absolute;
  top: 83px;
  right: 45px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/no-view.svg) 0 0 no-repeat;
}

.password-control.view {
  background: url(../img/view.svg) 0 0 no-repeat;
}

.create-new-cert {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 20px 0;
}

.btn-group-sm>.btn,.btn-sm {
  padding: 3px 6px !important;
}

.button-copy {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #fafafa;
  vertical-align: middle;
}

.button-copy:hover {
  background-color: #efefef;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
